
*{
    /* border: 1px solid red; */
}

.header{
    height: 80px;
    background: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.list > a{
    text-decoration: none;
    margin-left: 25px;
    color: white;
}

.list > a:hover{
    color: orange;
    font-weight: bold;
    transition: 500ms;
}